<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>control.InsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTypeProduct</servlet-name>
        <servlet-class>control.InsertTypeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSuplier</servlet-name>
        <servlet-class>control.InsertSuplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>control.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSuplier</servlet-name>
        <servlet-class>control.UpdateSuplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>control.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDuplicate</servlet-name>
        <servlet-class>control.CheckDuplicate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>control.SearchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>control.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>control.UpdateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmployee</servlet-name>
        <servlet-class>control.InsertEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKh</servlet-name>
        <servlet-class>control.SearchKh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHD</servlet-name>
        <servlet-class>control.DeleteHD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHD</servlet-name>
        <servlet-class>control.UpdateHD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTK</servlet-name>
        <servlet-class>control.UpdateTK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>control.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTinh</servlet-name>
        <servlet-class>control.UpdateTinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHuyen</servlet-name>
        <servlet-class>control.UpdateHuyen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/InsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTypeProduct</servlet-name>
        <url-pattern>/InsertTypeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSuplier</servlet-name>
        <url-pattern>/InsertSuplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSuplier</servlet-name>
        <url-pattern>/UpdateSuplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDuplicate</servlet-name>
        <url-pattern>/CheckDuplicate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/SearchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/UpdateRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEmployee</servlet-name>
        <url-pattern>/InsertEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKh</servlet-name>
        <url-pattern>/SearchKh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHD</servlet-name>
        <url-pattern>/DeleteHD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHD</servlet-name>
        <url-pattern>/UpdateHD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTK</servlet-name>
        <url-pattern>/UpdateTK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTinh</servlet-name>
        <url-pattern>/UpdateTinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHuyen</servlet-name>
        <url-pattern>/UpdateHuyen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>UpFile</servlet-name>
        <servlet-class>control.UpFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpFile</servlet-name>
        <url-pattern>/UpFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
