/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2018, 7:30:03 AM
    Author     : Xuan Truong PC
*/

*{
    margin:0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 55px;
    background-color: #00CCCC;
    display:flex;
    align-items: center;
}

.logo{
    width: 300px;
    min-width: 300px;
    height: 55px;
    background-color:#FF9933;
    justify-content: center;
    align-items: center;
}

.info{
    height: 55px;
    background: #FF99CC;
    width:calc(100vw - 300px);
}

.image_admin{

}

.name_admin{

}

.content{
    height: calc(100vh - 55px);
    width: calc(100vw - 300px);
    background-color: azure;
    float: right;
    overflow: hidden;
}

.content_tool{
    height: 20px;
    /*width: 250px;*/
    font-size: 20px;
    color: black;
}

.cover_menu{
    width: 300px;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
}


.cover{
    display: flex;
    justify-content: flex-start;
}

.toolbar ul li{
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 5px;
}

.toolbar ul{
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    min-width: 1000px;
}

.toolbar ul li:hover{
    background-color: crimson;
}

.cover_tool{
    /*width: 300px;*/
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 5px;
}

.image_menu{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background-size: 50px 50px;
}

.image_tool{
    height: 32px;
    width: 32px;
    margin-left: 3px;
    margin-right: 3px;
    background-size: 32px 32px;
}

.item_menu:hover{
    background-color: #00FF00;
}

.item_tool{

}

.content_menu div{
    height: 20px;
    width: 200px;
    font-size: 20px;
    color: white;
}

.slidebar{
    min-height: calc(100vh - 55px);
    height: auto;
    width: 300px;
    min-width: 300px;
    background-color: #00CCCC;
    float: left;
    color: white;
}

.titile{
    font-size: 30px;
    color: #0000DD;
    padding: 20px;
    text-decoration: #0000DD;
    width: 300px;
    min-width: 300px;
}

.toolbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    justify-content: flex-start;
    min-width: 500px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.info{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.name_admin{    
    color: black;
    font-size: 16px;
}

.image_admin{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 3px;
    background-size: 40px 40px;
}

.data{
    width: calc(100vw-320px);
    overflow: scroll;
    margin-left: 20px;
    min-height: 200px;
    height: calc(100vh - 250px);
}


.data table,.data table tbody tr,.data table tbody tr th,.data table tbody tr td{
    border: 1px solid activecaption;
    height: 30px;
}

.require{
    height: 30px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.require150{
    width: 150px;
}
.require200{
    width: 200px;
}
.require250{
    width: 250px;
}

.require350{
    width: 350px;
}

.require400{
    width: 400px;
}

.require500{
    width: 500px;
}

.phan_trang{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    width: 420px;
    min-width: 420px;
    margin-bottom: 5px;
}

.button{
    height: 16px !important;
    padding: 5px;
    margin-right: 5px;
    font: 16px;
    border: 1px solid aqua;
    border-radius: 5px;
}

.phan_trang .song{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    min-width: 300px;
}
.phan_trang .song .button{
    height: 26px !important;
    margin-left: 5px;
}

.data table{
    background: white;
}


/*phan css cho form*/

.cover_form{
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    background-color: DimGray;
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
}

.form{
    position: absolute;
    width: 800px;
    height: 800px;
    top:50%;
    left: 50%;
    transform: translate(-400px,-400px);
    z-index: 11;
    background-color: #0000CC;
    border-radius: 5px;
    min-width: 600px;
    min-height: 800px;
}

.title_form{
    padding: 5px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.exit_button{
    float: right;
    height: 20px;
    width: 20px;
    background-image: url("../images/exit.png");
    background-color: white;
    background-size: 20px 20px;
    border-radius: 50%;
}

.content_form{
    width: 780px;
    height: 750px;
    margin: 5px;
    background-color: white;
    padding:5px;
}

.content_form form table tr th{
    text-align: left;
    font-size: 16px;
}

.content_form form table tr td input,select,textarea{
    height: 30px;
    width: 250px;
    padding:5px;
    font-size: 16px;
}
.imageProduct{
    height: 300px;
    width: 250px;
    background: no-repeat;
    background-size: 250px 300px!important;
}


.checkbox{
    width: 20px !important; height: 20px !important;
}

.iconEdit{
    width: 25px !important;
    height: 25px !important;
    background-image:url("../images/edit.png");
    background-size: 25px 25px;
}